body {
        background-color: blue;
}

h1 {
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    table-layout: auto;
    display:flex;
    align-items:center;
    justify-content:center;

}


p {
    color:aliceblue;
    height: auto;
    width: 200px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

audio {
    position: absolute;
    right: 20px;
}